@model IEnumerable<MvcPeliculasApiCompleto.Models.Pelicula>

@{
    ViewData["Title"] = "Peliculas Carrito";
}

<h1>Peliculas Carrito</h1>

@if (Model != null)
{
    <a asp-controller="Clientes" asp-action="FinalizarPedido"
       class="btn btn-info">
        Finalizar pedido
    </a>
} 

<h1 style="color:red">
    @ViewData["MENSAJE"]
</h1>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEstreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEstreno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    <a asp-controller="Peliculas"
                       asp-action="CarritoCompra"
                       asp-route-ideliminar="@item.IdPelicula"
                       class="btn btn-danger">
                        Eliminar Carrito
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
